# Load required libraries and the dataset

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Set ipython's max row display
pd.set_option('display.max_row', 200)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

pd.options.display.float_format = '{:.4f}'.format

In [2]:
# Read xlsx file for denied cases from Financial Year 17
df_17 = pd.read_excel("data/H-1B_Disclosure_Data_FY17.xlsx")
df_17 = df_17.loc[df_17.CASE_STATUS=='DENIED']
df_17.CASE_STATUS.value_counts()

DENIED    8480
Name: CASE_STATUS, dtype: int64

In [3]:
# Read xlsx file
df = pd.read_excel("data/H-1B_FY2018.xlsx")

In [4]:
# Finding any miss-match in columns
display(df.columns.difference(df_17.columns))
display(df_17.columns.difference(df.columns))

Index(['H-1B_DEPENDENT'], dtype='object')

Index(['H1B_DEPENDENT'], dtype='object')

In [5]:
# rename: "H-1B_DEPENDENT" to "H1B_DEPENDENT"
df.rename(columns={"H-1B_DEPENDENT" : "H1B_DEPENDENT"}, inplace=True)

In [6]:
# combine data-sets (row bind)
df = pd.concat([df,df_17])
del df_17

In [7]:
# View column names
df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE'],
      dtype='object')

In [8]:
# Deatils of EMPLOYER and AGENT_ATTORNEY are ignored - (decison are un-biased)
# Select columns helpful for analysis
df = df[['CASE_SUBMITTED', 'DECISION_DATE','ORIGINAL_CERT_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'AGENT_REPRESENTING_EMPLOYER','TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'EMPLOYER_CITY', 'WORKSITE_CITY', 'CASE_STATUS']]

---
# Data Transformation
---
## Re-defining Target (**CASE_STATUS**)

In [9]:
# View CASE_STATUS values
df.CASE_STATUS.value_counts()

CERTIFIED              80960
DENIED                 10040
CERTIFIED-WITHDRAWN     8900
WITHDRAWN               3202
Name: CASE_STATUS, dtype: int64

In [10]:
# Record with outcome - 'WITHDRAWN' is decided by employer and not by OFLC
# Drop records with CASE_STATUS 'WITHDRAWN'
df = df.query('CASE_STATUS != "WITHDRAWN"')
# CASE_STATUS values
df.CASE_STATUS.value_counts()

CERTIFIED              80960
DENIED                 10040
CERTIFIED-WITHDRAWN     8900
Name: CASE_STATUS, dtype: int64

In [11]:
# Records with outcome - 'CERTIFIED-WITHDRAWN' are 'CERTIFIED' by OFLC but. withdrawn by the employer (reason not revealed)
# Convert the DECISION_DATE of such cases to ORIGINAL_CERT_DATE (for consistency)
df['DECISION_DATE'] = df.apply(lambda x : x.ORIGINAL_CERT_DATE if x.CASE_STATUS == 'CERTIFIED-WITHDRAWN' else x.DECISION_DATE, axis = 1)
# Drop column ORIGINAL_CERT_DATE
df = df.drop(['ORIGINAL_CERT_DATE'],axis=1)

# Convert 'CERTIFIED-WITHDRAWN' to 'CERTIFIED'
df['CASE_STATUS'] = df.apply(lambda x : 'CERTIFIED' if x.CASE_STATUS == 'CERTIFIED-WITHDRAWN' else x.CASE_STATUS, axis = 1)

# CASE_STATUS values
df.CASE_STATUS.value_counts()/sum(df.CASE_STATUS.value_counts())

CERTIFIED   0.8995
DENIED      0.1005
Name: CASE_STATUS, dtype: float64

---
## Define a variable to keep track of invalid records

In [12]:
# Set default value to False 
df["INVALID"] = False

In [13]:
# EMPLOYMENT_START_DATE cannot be empty - all such cases are denied
df.loc[df.EMPLOYMENT_START_DATE.isnull(),"INVALID"] = True

In [14]:
# PREVAILING_WAGE cannot be zero or unusually high(>500000$) - all such cases are denied
df.loc[(df.PREVAILING_WAGE==0) | (df.PREVAILING_WAGE>500000),"INVALID"] = True

In [15]:
# PW_UNIT_OF_PAY cannot be empty - all such cases are denied
df.loc[df.PW_UNIT_OF_PAY.isnull(),"INVALID"] = True

In [16]:
# FULL_TIME_POSITION cannot be empty - all such cases are denied
df.loc[df.FULL_TIME_POSITION.isnull(),"INVALID"] = True

In [17]:
# PW_SOURCE (to verify PREVAILING_WAGE) cannot be empty - all such cases are denied
df.loc[df.PW_SOURCE.isnull(),"INVALID"] = True

In [18]:
# WORKSITE_CITY cannot be empty - all such cases are denied
df.loc[df.WORKSITE_CITY.isnull(),"INVALID"] = True

In [19]:
# All such invalid cases are denied
pd.crosstab(df.INVALID,df.CASE_STATUS)

CASE_STATUS  CERTIFIED  DENIED
INVALID
False            89860    9941
True                 0      99

---
## Convert wage rates to a common units i.e, 'year' (per annum)

In [20]:
# defining a function for unit conversion
def convert_year(val, unit, full_time):
    '''
    val - value of wage
    unit - unit of wage
    '''
    if(val is np.NaN):
        return np.NaN
    if(unit is np.NaN):
        return 0 # NULL units were allotted PW value 0
    scale = {'Year':1, 'Month':12, 'Bi-Weekly':26, 'Week':52, 'Hour':2087}
    if(full_time == "N"):
        scale['Hour'] = 1820 # part-time are < 35hours/week - assumed 35
    return val*scale[unit]

In [21]:
# apply the conversion on PREVAILING_WAGE
df['PREVAILING_WAGE'] = df.apply(lambda x: convert_year(x.PREVAILING_WAGE,x.PW_UNIT_OF_PAY,x.FULL_TIME_POSITION), axis=1)
df['PW_UNIT_OF_PAY'] = 'Year' 

# apply the conversion on WAGE_RATE_OF_PAY_FROM and WAGE_RATE_OF_PAY_TO
df['WAGE_RATE_OF_PAY_FROM'] = df.apply(lambda x: convert_year(x.WAGE_RATE_OF_PAY_FROM,x.WAGE_UNIT_OF_PAY,x.FULL_TIME_POSITION), axis=1)
df['WAGE_RATE_OF_PAY_TO'] = df.apply(lambda x: convert_year(x.WAGE_RATE_OF_PAY_TO,x.WAGE_UNIT_OF_PAY,x.FULL_TIME_POSITION), axis=1)
df['WAGE_UNIT_OF_PAY'] = 'Year'

# if WAGE_RATE_OF_PAY_TO is zero -  replace with WAGE_RATE_OF_PAY_FROM 
df['WAGE_RATE_OF_PAY_TO'] = df.apply(lambda x : x.WAGE_RATE_OF_PAY_FROM if x.WAGE_RATE_OF_PAY_TO == 0 else x.WAGE_RATE_OF_PAY_TO, axis = 1)

In [22]:
# Unit of pay is no more required - as all are in years
df = df.drop(['PW_UNIT_OF_PAY','WAGE_UNIT_OF_PAY'],axis=1)

---
## Feature Engineering

In [23]:
# 1: BUFFER_DAYS = EMPLOYMENT_START_DATE - CASE_SUBMITTED (Days left to start employment)
df['BUFFER_DAYS'] = (df.EMPLOYMENT_START_DATE - df.CASE_SUBMITTED).dt.days
df['BUFFER_DAYS_BOOL'] = (df.EMPLOYMENT_START_DATE - df.CASE_SUBMITTED).dt.days>=0

# If no buffer - all cases denied except one
pd.crosstab(df.BUFFER_DAYS_BOOL,df.CASE_STATUS)

CASE_STATUS       CERTIFIED  DENIED
BUFFER_DAYS_BOOL
False                     1     169
True                  89859    9871

In [24]:
# 2: EMPLOYMENT_PERIOD(in days) = EMPLOYMENT_END_DATE - EMPLOYMENT_START_DATE
# EMPLOYMENT_PERIOD is not really saying anything - other than unusual observation (-183)
pd.crosstab((df.EMPLOYMENT_END_DATE - df.EMPLOYMENT_START_DATE).dt.days,df.CASE_STATUS)

CASE_STATUS  CERTIFIED  DENIED
row_0
-2558.0000           0       1
-183.0000            0       1
1.0000               3       2
2.0000               0       1
5.0000               0       1
6.0000               1       1
7.0000               2       0
9.0000               0       1
15.0000              1       2
18.0000              0       1
19.0000              1       0
20.0000              1       0
21.0000              3       0
23.0000              1       0
24.0000              0       1
26.0000              1       0
27.0000              3       0
28.0000              2       2
29.0000              2       2
30.0000              3       2
31.0000              3       0
33.0000              1       1
35.0000              1       0
37.0000              0       1
40.0000              3       0
41.0000              1       2
44.0000              3       1
45.0000              1       0
46.0000              1       0
47.0000              1       0
48.0000              1       0
49.0000              2       2
50.0000              1       1
51.0000              3       0
52.0000              1       0
53.0000              0       1
54.0000              1       0
57.0000              1       0
58.0000              4       0
59.0000              4       0
60.0000              1       1
62.0000              1       0
63.0000              1       0
64.0000              1       0
66.0000              1       0
67.0000              3       1
68.0000              2       0
69.0000              1       0
70.0000              2       0
71.0000              1       0
72.0000              1       0
73.0000              2       0
74.0000              1       0
75.0000              1       0
76.0000              4       0
77.0000              2       0
78.0000              1       0
79.0000              2       0
80.0000              3       0
81.0000              0       2
83.0000              1       3
84.0000              2       0
85.0000              3       0
86.0000              4       0
87.0000              2       0
88.0000              3       0
89.0000              5       1
90.0000              5       0
91.0000              7       0
92.0000              5       6
93.0000              1       0
94.0000              1       0
95.0000              2       3
96.0000              1       1
97.0000              0       2
98.0000              1       0
99.0000              1       0
100.0000             3       1
101.0000             2       0
103.0000             1       0
104.0000             1       0
105.0000             3       1
106.0000             0       1
107.0000             1       0
108.0000             3       0
110.0000             4       0
111.0000             4       1
112.0000             1       1
113.0000             2       0
114.0000             1       0
115.0000             1       0
116.0000             2       1
117.0000             2       0
118.0000             6       1
119.0000             1       0
120.0000             4       0
121.0000             6       2
122.0000             2       1
123.0000             1       2
124.0000             2       0
...                ...     ...
1000.0000            9       0
1001.0000           12       1
1002.0000           21       0
1003.0000           16       1
1004.0000           17       3
1005.0000           20       3
1006.0000           17       3
1007.0000           10       0
1008.0000           12       2
1009.0000           11       3
1010.0000           13       2
1011.0000            9       0
1012.0000           12       2
1013.0000           12       0
1014.0000           16       3
1015.0000           21       0
1016.0000           14       0
1017.0000           16       0
1018.0000           12       2
1019.0000           17       1
1020.0000           28       0
1021.0000           18       0
1022.0000           24       1
1023.0000           17       0
1024.0000           18       0
1025.0000           13       1
1026.0000           15       0
1027.0000           11       0
1028.0000            8      11
1029.0000            9       1
1030.0000           13       1
1031.0000           24       0
1032.0000           15       0
1033.0000           26       3
1034.0000           31       3
1035.0000           22       5
1036.0000           16       0
1037.0000           10       1
1038.0000           10       0
1039.0000           15       0
1040.0000            6       1
1041.0000           13       1
1042.0000           11       3
1043.0000           15       0
1044.0000           13       0
1045.0000            8       1
1046.0000           14       1
1047.0000            7       3
1048.0000            8       0
1049.0000            9       0
1050.0000            9       3
1051.0000           18       2
1052.0000           16       2
1053.0000           10       1
1054.0000           10       0
1055.0000            9       0
1056.0000           15       0
1057.0000           17       0
1058.0000           14       1
1059.0000           13      10
1060.0000           10       2
1061.0000           11       0
1062.0000           19       1
1063.0000           15       3
1064.0000           34      19
1065.0000           42      19
1066.0000           42      16
1067.0000           20       5
1068.0000           12       1
1069.0000           20       0
1070.0000           13       1
1071.0000           19       4
1072.0000           18       5
1073.0000           13       1
1074.0000           18       6
1075.0000           18       3
1076.0000           22       6
1077.0000           19      50
1078.0000           24      10
1079.0000           21       2
1080.0000           43       7
1081.0000           39       5
1082.0000           29       4
1083.0000           44       4
1084.0000           49      12
1085.0000           68      10
1086.0000           80      11
1087.0000           58      14
1088.0000           83       7
1089.0000           86       9
1090.0000          104       5
1091.0000          226      15
1092.0000          253      23
1093.0000         2688      35
1094.0000         2339     832
1095.0000        53625    4570
1096.0000        18561    1868
1099.0000            0       1
1113.0000            0       1
1460.0000            0       2

[1065 rows x 2 columns]

In [25]:
# mark employment period < 0(makes no sense) and > 1096(max 3 years allowed) as invalid
emp_period = (df.EMPLOYMENT_END_DATE - df.EMPLOYMENT_START_DATE).dt.days
df.loc[(emp_period<0) | (emp_period>1096),"INVALID"] = True

In [26]:
# 3: ABOVE_PW(PREVAILING_WAGE) = WAGE_RATE_OF_PAY_FROM - PREVAILING_WAGE
df['ABOVE_PW'] = (df.WAGE_RATE_OF_PAY_FROM - df.PREVAILING_WAGE)>=0
pd.crosstab(df.ABOVE_PW,df.CASE_STATUS)

CASE_STATUS  CERTIFIED  DENIED
ABOVE_PW
False               15    2334
True             89845    7706

In [27]:
# Look at certified cases with WAGE_RATE_OF_PAY_FROM < PREVAILING_WAGE
temp = df.query('-310<(WAGE_RATE_OF_PAY_FROM - PREVAILING_WAGE)<0')
pd.crosstab(temp.WAGE_RATE_OF_PAY_FROM - temp.PREVAILING_WAGE,temp.CASE_STATUS)

CASE_STATUS  CERTIFIED  DENIED
row_0
-306.0000            0       1
-304.0000            0       1
-300.0000            0       2
-295.0000            0       1
-293.0000            0       1
-292.0000            0       1
-291.2000            0       1
-289.0000            0       1
-286.0000            0       1
-283.6200            0       1
-282.0000            0       1
-278.0000            0       1
-277.0000            0       1
-275.5400            1       0
-274.0000            0       1
-273.0000            0       1
-271.3100            0       1
-270.0000            0       5
-268.0000            0       1
-263.0000            0       1
-259.1200            0       1
-256.0000            0       1
-253.0000            0       1
-251.0000            0       1
-250.0000            0       2
-249.0000            0       2
-246.0000            0       1
-241.0000            0       1
-240.0000            0       1
-238.0000            0       3
-237.0000            0       1
-236.6000            0       1
-236.6000            0       1
-229.0000            0       1
-227.5500            2       2
-223.0000            0       1
-221.0000            0       2
-216.0000            0       1
-213.0000            0       4
-208.7000            0       1
-208.7000            0       1
-208.0000            0       2
-206.0000            0       2
-205.0000            0       1
-203.0000            0       1
-200.0000            0       2
-197.0000            0       1
-195.0000            0       1
-193.0000            0       1
-188.0000            0       1
-187.8300            0       2
-187.8300            0       1
-187.0000            0       1
-186.0000            0       1
-184.0000            0       2
-182.3900            0       1
-182.0000            0       2
-180.0000            0       4
-176.0000            0       1
-174.0000            0       1
-173.0000            0       1
-172.0000            0       1
-166.9600            0       1
-165.0000            0       1
-163.8000            0       1
-158.0000            0       1
-156.0000            0       1
-151.0000            0       1
-150.0000            0       1
-146.0900            0       2
-146.0900            0       1
-145.6000            0       1
-139.0400            1       0
-139.0000            0       1
-136.0000            0       1
-134.0000            0       1
-133.0100            0       1
-130.0000            0       1
-127.4000            0       1
-125.2200            0       1
-125.2200            0       1
-120.0000            0       1
-118.0000            0       1
-110.0000            0       2
-109.2000            0       1
-109.0000            0       1
-104.0000            0       3
-98.9600             0       1
-91.1400             2       0
-91.0000             0       5
-90.0000             0      12
-89.0000             0       1
-87.9300             0       1
-83.4800             0       1
-80.0000             0       2
-78.9600             9       0
-72.8000             0       1
-72.0000             0       1
-70.0000             0       5
-66.0000             0       1
-63.0000             0       1
-62.0000             0       1
-60.0000             0       2
-58.0800             0       1
-54.0000             0       1
-53.0000             0       1
-51.0000             0       1
-50.0000             0       8
-46.0000             0       2
-45.0000             0       1
-42.0000             0       1
-41.7400             0       1
-40.0000             0       5
-38.0000             0       1
-36.4000             0       1
-36.4000             0       1
-36.0000             0       2
-34.0000             0       1
-30.0000             0       7
-28.0000             0       1
-27.0000             0       3
-24.0000             0       1
-23.0000             0       1
-21.0000             0       3
-20.8700             0       1
-20.8700             0       1
-20.0000             0      13
-19.0000             0       1
-18.2000             0       1
-18.2000             0       1
-18.0000             0       2
-17.0000             0       1
-13.0000             0       1
-12.0000             0       1
-10.0000             0       7
-9.0000              0       8
-8.0000              0       2
-7.0000              0       1
-6.0000              0       3
-5.0000              0       3
-4.0000              0       1
-3.0000              0       6
-2.0000              0       2
-1.0000              0       2
-0.9900              0       1
-0.4000              0       5
-0.4000              0       5
-0.3000              0       1
-0.2000              0      21
-0.1800              0       1
-0.0400              0       1

In [28]:
# 4: PW_OLD(in years) = year(CASE_SUBMITTED) - PW_SOURCE_YEAR # cannot have negative values
pd.crosstab((df.CASE_SUBMITTED.dt.year - df.PW_SOURCE_YEAR),df.CASE_STATUS)

CASE_STATUS  CERTIFIED  DENIED
row_0
-90.0000             0       1
-1.0000              0       2
0.0000           84332    5468
1.0000            5331    4140
2.0000              91     337
3.0000              37      15
4.0000              17       5
5.0000               7       1
6.0000              39       0
7.0000               1       2
8.0000               3       4
10.0000              0       1
15.0000              0       1
16.0000              1       0
17.0000              1       2
19.0000              0       1
23.0000              0       1
32.0000              0       1
2002.0000            0       1
2017.0000            0       2

In [29]:
# mark if age of PW_SOURCE in years < 0 (sourse from future - makes no sense) as invalid
df.loc[(df.CASE_SUBMITTED.dt.year - df.PW_SOURCE_YEAR)<0,"INVALID"] = True

In [30]:
# CASE_STATUS is decided within 12 days
pd.crosstab((df.DECISION_DATE - df.CASE_SUBMITTED),df.CASE_STATUS)

CASE_STATUS  CERTIFIED  DENIED
row_0
0 days               0       7
1 days              86    1724
2 days             180    2041
3 days             105    1167
4 days           12550    1598
5 days            2038    1475
6 days           52426    1351
7 days           22351     598
8 days              66      73
9 days              18       2
10 days             11       4
11 days             28       0
12 days              1       0

In [31]:
# View columns
df.columns

Index(['CASE_SUBMITTED', 'DECISION_DATE', 'VISA_CLASS',
       'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'AGENT_REPRESENTING_EMPLOYER', 'TOTAL_WORKERS', 'NEW_EMPLOYMENT',
       'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_WAGE_LEVEL', 'PW_SOURCE',
       'PW_SOURCE_YEAR', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'EMPLOYER_CITY', 'WORKSITE_CITY', 'CASE_STATUS', 'INVALID',
       'BUFFER_DAYS', 'BUFFER_DAYS_BOOL', 'ABOVE_PW'],
      dtype='object')

In [32]:
# Drop source attributes of extracted features
df = df.drop(['DECISION_DATE','CASE_SUBMITTED','PW_SOURCE_YEAR','PREVAILING_WAGE',
              'WAGE_RATE_OF_PAY_TO','EMPLOYMENT_START_DATE','EMPLOYMENT_END_DATE',
              'EMPLOYER_CITY', 'WORKSITE_CITY'],axis=1)

---
## Merge levels with low frequency

In [33]:
df.PW_SOURCE.value_counts()

OES      81184
Other    17915
CBA        711
DBA         18
SCA         16
Name: PW_SOURCE, dtype: int64

In [34]:
# Combine DBA and SCA to Other
df.loc[(df.PW_SOURCE=='DBA') | (df.PW_SOURCE=='SCA'),"PW_SOURCE"] = 'Other'

---
## Handling Missing Values

In [35]:
df.INVALID.value_counts()

False    99792
True       108
Name: INVALID, dtype: int64

In [36]:
# drop invalid rows
df = df[df.INVALID!=True]
df.drop(['INVALID'],inplace=True,axis=1)

In [37]:
df.isnull().sum()

VISA_CLASS                         0
AGENT_REPRESENTING_EMPLOYER     1477
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CONTINUED_EMPLOYMENT               0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PW_WAGE_LEVEL                   8022
PW_SOURCE                          0
WAGE_RATE_OF_PAY_FROM              0
H1B_DEPENDENT                   4382
WILLFUL_VIOLATOR                4383
SUPPORT_H1B                    64056
LABOR_CON_AGREE                64546
CASE_STATUS                        0
BUFFER_DAYS                        0
BUFFER_DAYS_BOOL                   0
ABOVE_PW                           0
dtype: int64

In [38]:
# Not requied - if invalid rows are dropped
# Central Impute (Assuming data missed entry)
#df.FULL_TIME_POSITION.fillna(df.AGENT_REPRESENTING_EMPLOYER.mode(),inplace=True)
#df.FULL_TIME_POSITION.fillna(df.FULL_TIME_POSITION.mode(),inplace=True)
#df.PW_SOURCE.fillna(df.PW_SOURCE.mode(),inplace=True)


# replace with a string 'missing'
df.fillna('missing',inplace=True)

df.isnull().sum()

VISA_CLASS                     0
AGENT_REPRESENTING_EMPLOYER    0
TOTAL_WORKERS                  0
NEW_EMPLOYMENT                 0
CONTINUED_EMPLOYMENT           0
CHANGE_PREVIOUS_EMPLOYMENT     0
NEW_CONCURRENT_EMPLOYMENT      0
CHANGE_EMPLOYER                0
AMENDED_PETITION               0
FULL_TIME_POSITION             0
PW_WAGE_LEVEL                  0
PW_SOURCE                      0
WAGE_RATE_OF_PAY_FROM          0
H1B_DEPENDENT                  0
WILLFUL_VIOLATOR               0
SUPPORT_H1B                    0
LABOR_CON_AGREE                0
CASE_STATUS                    0
BUFFER_DAYS                    0
BUFFER_DAYS_BOOL               0
ABOVE_PW                       0
dtype: int64

In [39]:
# Save to local
df.to_csv("data/dataCleaned.csv",index=False)